<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuquechua">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuQuechua"
        android:usesCleartextTraffic="true">
        <activity android:name=".Buscar"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".avanzado.procesarAvanzadoSaludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".avanzado.procesarAvanzadoNumero"
            android:screenOrientation="portrait"/>
        <activity android:name=".avanzado.procesarAvanzadoFamilia"
            android:screenOrientation="portrait"/>
        <activity android:name=".avanzado.procesarAvanzadoComida"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".RankingSaludoAvanzado"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".RankingNumeroAvanzado"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".RankingFamiliaAvanzado"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".RankingComidaAvanzado"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RankingSaludoIntermedio"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RankingNumeroIntermedio"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RankingFamiliaIntermedio"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RankingComidaIntermedio"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".intermedio.saludo_intermedio.procesarIntermedioSaludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.numero_intermedio.procesarIntermedioNumero"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.familia_intermedio.procesarIntermedioFamilia"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.comida_intermedio.procesarIntermedioComida"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".procesar_resultado"

            android:exported="true" />
        <activity
            android:name=".intermedio.comida_intermedio.Intermedio_Ejercicio2"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".avanzado.Avanzado_Ejercicio3"
            android:screenOrientation="portrait"
            android:exported="true"></activity>
        <activity
            android:name=".RankingSaludoBasico"
            android:screenOrientation="portrait"
            android:exported="true" >

        </activity>
        <activity
            android:name=".avanzado.Avanzado_Video_Saludos"
            android:exported="true" />
        <activity
            android:name=".avanzado.Avanzado_Video_Familia"

            android:exported="true" />
        <activity
            android:name=".avanzado.Avanzado_Video_Numeros"

            android:exported="true" />
        <activity
            android:name=".avanzado.Avanzado_Ejercicio2_Comida"

            android:exported="true"></activity>
        <activity
            android:name=".avanzado.Avanzado_Video"
            android:screenOrientation="portrait"
            android:exported="true"></activity>
        <activity android:name=".Loguearse"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RankingNumeroBasico"
            android:screenOrientation="portrait"/>
        <activity android:name=".RankingFamiliaBasico"
            android:screenOrientation="portrait"/>
        <activity android:name=".RankingComidaBasico"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.saludo_intermedio.Intermedio_Ejercicio3_Saludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.numero_intermedio.Intermedio_Ejercicio3_Numero"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.familia_intermedio.Intermedio_Ejercicio3_Familia"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.comida_intermedio.Intermedio_Ejercicio3_Comida"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.saludo_intermedio.Intermedio_Frase_Saludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.numero_intermedio.Intermedio_Frase_Numero"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.familia_intermedio.Intermedio_Frase_Familia"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.comida_intermedio.Intermedio_Frase_Comida"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.saludo_intermedio.Intermedio_Ejercicio4_Saludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.numero_intermedio.Intermedio_Ejercicio4_Numero"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.familia_intermedio.Intermedio_Ejercicio4_Familia"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.comida_intermedio.Intermedio_Ejercicio4_Comida"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.saludo_intermedio.Intermedio_Ejercicio1_Saludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.numero_intermedio.Intermedio_Ejercicio1_Numero"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.familia_intermedio.Intermedio_Ejercicio1_Familia"
            android:screenOrientation="portrait"/>
        <activity android:name=".intermedio.comida_intermedio.Intermedio_Ejercicio1_Comida"
            android:screenOrientation="portrait"/>
        <activity android:name=".Secciones"
            android:screenOrientation="portrait"/>
        <activity android:name=".Niveles"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.saludo_basico.procesarBasicoSaludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.numero_basico.procesarBasicoNumero"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.familia_basico.procesarBasicoFamilia"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.saludo_basico.Basico_Ejercicio2_Saludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.numero_basico.Basico_Ejercicio2_Numero"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.comida_basico.Basico_Ejercicio2_Comida"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.familia_basico.Basico_Ejercicio2_Familia"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".basico.familia_basico.Basico_Ejercicio5_Familia"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".basico.saludo_basico.Basico_Ejercicio5_Saludo"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".basico.comida_basico.Basico_Ejercicio5_Comida"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".basico.familia_basico.Basico_Ejercicio3_Familia"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".basico.saludo_basico.Basico_Ejercicio3_Saludo"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".basico.numero_basico.Basico_Ejercicio3_Numero"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity android:name=".basico.comida_basico.procesarBasicoComida"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".basico.comida_basico.Basico_Ejercicio3_Comida"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity android:name=".basico.numero_basico.Basico_Ejercicio5_Numero"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.saludo_basico.Basico_Ejercicio6_Saludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.numero_basico.Basico_Ejercicio6_Numero"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.familia_basico.Basico_Ejercicio6_Familia"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.comida_basico.Basico_Ejercicio6_Comida"
            android:screenOrientation="portrait"/>
        <activity android:name=".registrar_usuario"
            android:screenOrientation="portrait"/>
        <activity android:name=".agregar_pregunta"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.saludo_basico.Basico_Ejercicio4_Saludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.numero_basico.Basico_Ejercicio4_Numero"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.familia_basico.Basico_Ejercicio4_Familia"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TuQuechua.NoActionBar"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".basico.comida_basico.Basico_Ejercicio4_Comida"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.saludo_basico.Basico_Ejercicio1_Saludo"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.numero_basico.Basico_Ejercicio1_Numero"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.familia_basico.Basico_Ejercicio1_Familia"
            android:screenOrientation="portrait"/>
        <activity android:name=".basico.comida_basico.Basico_Ejercicio1_Comida"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>