<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuquechua">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuQuechua"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".procesar_resultado"
            android:exported="false" />
        <activity
            android:name=".intermedio.comida_intermedio.Intermedio_EjercicioR15_Comida"
            android:exported="true"></activity>
        <activity
            android:name=".avanzado.Avanzado_Ejercicio3"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".avanzado.Avanzado_Video_Saludos"
            android:exported="true" />
        <activity
            android:name=".avanzado.Avanzado_Video_Familia"
            android:exported="true" />
        <activity
            android:name=".avanzado.Avanzado_Video_Numeros"
            android:exported="true" />
        <activity
            android:name=".avanzado.Avanzado_Ejercicio2_Comida"
            android:exported="true"></activity>
        <activity
            android:name=".avanzado.comida_video1"
            android:exported="true" />
        <activity
            android:name=".Seccion"
            android:exported="true" >

        </activity>
        <activity android:name=".intermedio.saludo_intermedio.Intermedio_Ejercicio2_Saludo" />
        <activity android:name=".intermedio.numero_intermedio.Intermedio_Ejercicio2_Numero" />
        <activity android:name=".intermedio.familia_intermedio.Intermedio_Ejercicio2_Familia" />
        <activity android:name=".intermedio.comida_intermedio.Intermedio_Ejercicio2_Comida" />
        <activity android:name=".Loguearse" />
        <activity android:name=".Login" />
        <activity android:name=".LoginUsuario" />
        <activity android:name=".Niveles" />
        <activity android:name=".basico.saludo_basico.procesarBasicoSaludo" />
        <activity android:name=".basico.numero_basico.procesarBasicoNumero" />
        <activity android:name=".basico.familia_basico.procesarBasicoFamilia" />
        <activity android:name=".basico.saludo_basico.Basico_Ejercicio2_Saludo" />
        <activity android:name=".basico.numero_basico.Basico_Ejercicio2_Numero" />
        <activity android:name=".basico.comida_basico.Basico_Ejercicio2_Comida" />
        <activity android:name=".basico.familia_basico.Basico_Ejercicio2_Familia" />
        <activity
            android:name=".basico.familia_basico.Basico_Ejercicio5_Familia"
            android:exported="true" />
        <activity
            android:name=".basico.saludo_basico.Basico_Ejercicio5_Saludo"
            android:exported="true" />
        <activity
            android:name=".basico.comida_basico.Basico_Ejercicio5_Comida"
            android:exported="true" />
        <activity
            android:name=".basico.familia_basico.Basico_Ejercicio3_Familia"
            android:exported="true" />
        <activity
            android:name=".basico.saludo_basico.Basico_Ejercicio3_Saludo"
            android:exported="true" />
        <activity
            android:name=".basico.numero_basico.Basico_Ejercicio3_Numero"
            android:exported="true" />
        <activity android:name=".basico.comida_basico.procesarBasicoComida" />
        <activity
            android:name=".basico.comida_basico.Basico_Ejercicio3_Comida"
            android:exported="true" />
        <activity android:name=".basico.numero_basico.Basico_Ejercicio5_Numero" />
        <activity android:name=".basico.saludo_basico.Basico_Ejercicio6_Saludo" />
        <activity android:name=".basico.numero_basico.Basico_Ejercicio6_Numero" />
        <activity android:name=".basico.familia_basico.Basico_Ejercicio6_Familia" />
        <activity android:name=".basico.comida_basico.Basico_Ejercicio6_Comida" />
        <activity android:name=".consultar_lista_usuario_imagen" />
        <activity android:name=".consultar_lista_usuario" />
        <activity android:name=".consultar_usuario" />
        <activity android:name=".registrar_usuario" />
        <activity android:name=".agregar_pregunta" />
        <activity android:name=".basico.saludo_basico.Basico_Ejercicio4_Saludo" />
        <activity android:name=".basico.numero_basico.Basico_Ejercicio4_Numero" />
        <activity android:name=".basico.familia_basico.Basico_Ejercicio4_Familia" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TuQuechua.NoActionBar" />
        <!--
<activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        -->
        <activity android:name=".basico.comida_basico.Basico_Ejercicio4_Comida" />
        <activity android:name=".basico.saludo_basico.Basico_Ejercicio1_Saludo" />
        <activity android:name=".basico.numero_basico.Basico_Ejercicio1_Numero" />
        <activity android:name=".basico.familia_basico.Basico_Ejercicio1_Familia" />
        <activity android:name=".basico.comida_basico.Basico_Ejercicio1_Comida" />
    </application>

</manifest>